/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1224px 1fr;
    grid-template-rows: 100px 1fr 100px;
  }
  .admin-app {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    background-color: darkgrey;
  }
  .admin-nav {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }
  .admin-nav-cat {
    border: 1px solid black;
    flex: 1 0 50px;
    padding-top: 20%;
    padding-bottom: 5%;
    background-color: navy;
    color: white;
  }
  .selected {
    background-color: darkcyan;
  }
  .selected:hover {
    background-color: darkcyan;
    color: white;
  }
  .admin-nav-cat:hover {
    background-color: cornflowerblue;
    color: black;
  }
  .selected:hover {
    background-color: darkcyan;
    color: white;
  }
  .admin-body {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .admin-descriptions {
    flex: 1 0 25%;
    background-color: white;
  }
  .admin-fields {
    flex: 1 0 25%;
    background-color: beige;
  }
  .admin-values {
    flex: 1 0 25%;
    background-color: lightgray;
  }
  .admin-values, .admin-fields, .admin-descriptions {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 20px;
  }
  .admin-values > .row, .admin-fields > .row, .admin-descriptions > .row {
    flex: 1 0 30px;
  }

  .item-master {
    margin-top: 100px;
    background-color: aqua;
    height: 506px;
    flex: 0 0 900px;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-flow: column wrap;
    padding-top: 20px;
    padding-left: 5px;
  }
  .item-master > .row {
    flex: 0 0 20px;
    display: flex;
    flex-flow: row nowrap;
    background-color: aliceblue;
    border-radius: 12px;
    border: solid 1px black;
    padding: 2px; 
  }
  .item-master > .row > button {
    padding: 4px;
    flex: 0 0 100px;
    font-weight: bold;
  }
  .item-master > .row > button.inactive {
    background-color: darkgray;
    color: lightgray;
  }
  .search-icon {
    padding: 4px;
    background-color: white;
  }
  .search-icon:hover {
    background-color: darkcyan;
  }
  .Loading {
    position: absolute;
    top: 250px;
    left: 500px;
    width: 400px;
    height: 100px;
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    text-align: center;
    padding-top: 70px;
    font-size: 24pt;
  }
  .search-dropdown {
    position: absolute;
    background-color: white;
    margin-top: 25px;
    margin-left: 50px;
    width: 150px;
    text-align: left;
    border: 1px solid black;
    z-index: 100;
  }
  .search-dropdown-row {
    padding: 5px;
    /* z-index: 10; */
  }
  .search-dropdown-row:hover {
    background-color: blue;
  }
  .list-exchange {
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    text-align: center;
    font-size: 18pt;
    display: flex;
    flex-flow: row nowrap;
  }
  .category-selected, .category-list {
    border: 1px solid navy;
    flex: 1 0 200px;
  }
  .category-list > .row:hover {
    background-color: green;
  }
  .category-selected > .row:hover {
    background-color: red;
  }
  .list-view{
    position: absolute;
    width: 1000px;
    height: 400px;
    background-color: lightblue;
    overflow: scroll;
    display: block;
    z-index: 10;
  }
  .item-search > .row {
    color: black;
  }
  .table-header {
    background-color: darkgreen;
    color: white;
  }
  .table-cell {
    border: 1px solid black;
  }
  .pop-up-dialog {
    font-size: 16pt;
    position: absolute;
    border: 2px solid navy;
    border-radius: 12px;
    z-index: 10;
    background-color: antiquewhite;
    width: 800px;
    height:250px;
    padding-top:150px;
  }
  .pop-up-dialog > button {
    padding: 2px;
    margin: 5px;
  }
  a:hover {
    background-color: cyan;
    color: green;
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  };
  

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

  /* Styles */
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1500px 1fr;
    grid-template-rows: 100px 1fr 100px;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}


.store-header {
  grid-area: 1 / 1 / 2 / 4;
  background-color: bisque;
}

.store-body {
  grid-area: 2 / 2 / 3 / 3;
  height: 800px;
  background-color: blue;
}

.store-footer {
  grid-area: 3 / 1 / 4 / 4;
  background-color: cadetblue;
}