.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1500px 1fr;
  grid-template-rows: 100px 1fr 100px;
}

.store-header {
  grid-area: 1 / 1 / 2 / 4;
  background-color: bisque;
}
.store-body {
  grid-area: 2 / 2 / 3 / 3;
  height: 800px;
  background-color: blue;
}
.store-footer {
  grid-area: 3 / 1 / 4 / 4;
  background-color: cadetblue;
}